/* Menu*/
*{/* selector universal*/
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
  }
 
.menu{
    background: #0d0080;
  font-family: Arial, Helvetica, sans-serif;
  
 

}
.menu ul {/*selector por clase-*/
list-style: none;
padding: 0;
width :100%;
max-width:10000px;
margin: 5px; /*Espacio entre imagen y texto*/

}

.menu  ul li  {/*selector descendiente-*/
display: inline-flex;

}

a{/*selector de elemento- */
    text-decoration:none;
}

.menu ul li a{
    color:#f7f5f5;
    padding: 15px;
}

.nav_li:hover{
    background:#5449b8;
    
}

/*-----------------------------------Menu desplegable------------------------------------*/


.naveg_sub li  {
    background-color: #0b0164;
    display: block;
    
    padding: 0;
    margin: 0;

}

li>.naveg_sub{
    display: flex;
    position: relative;    
}

.nav li a:hover {
    background-color: #5449b8;
}

.nav li ul {
    display: none;
    position: absolute;
}

.nav li:hover>ul {
    display: block;
}



/*.....................FOOTER....................*/
.footer {/*selector por clase*/
    float: right;
    width: 100%;
    height:80px; /*different*/
    margin: 0px;
    background-color:#141414;
    color:#FFF;
    padding-bottom: 25px ;
    text-align:center;
}
.footer p{
    font-family: Arial, Helvetica, sans-serif;
    padding: 6px;
    background-color:#141414;
    padding-bottom: 3px;
}

#logo{/*selector por id*/
    display: block;
    width: 1240px;
    height: 175px;
    margin: auto;
    

}

/*...............slide automatico..............*/

.container_slider{
    position: relative;
    top: 40px;
    width: 650px;
    height:250px;
    margin: auto;
    background: #0d0080;
}

.container_slider .slider{
position: relative;
width: 400%;
height: 100%;
display: flex;

}

.container_slider .slider li{
    position: relative;
    width: 100%;
  
    background: #5449b8;

    
    }

    .container_slider .slider li img{
        position: absolute;
        width: 100%;
        height: 100%;
    
        
        }






/************************************************/



/*-----------------------------------footer------------------------------------*/
.footer {/*selector por clase*/
    float: right;
    width: 100%;
    height:80px; /*different*/
    margin: 0px;
    background-color:#141414;
    color:#FFF;
    padding-bottom: 25px ;
    text-align:center;
}
.footer p{
    padding: 6px;
    background-color:#0a005f;
    padding-bottom: 3px;
}
.futer-push{/*selector por clase-*/
    float: right;
    width: 100%;
    height:80px; /*different*/
    margin: 0px;
background: #0d0080;

}
.redes-sociales{/*selector por clase*/
    display: inline-flex;

}
#sigueme {/*selector descendiente */
    float: left;
    color: #ffffff;
    margin: 20px;
    font-weight: normal;
    line-height: 30px;
    font-size: 200%;
    margin-right: 25px;
    padding-right: 35px;
}
.twitter{
    display: grid;
    grid-template-columns: 1fr 3fr ;
    padding-right:25px ;
    padding-top: 20px;
    padding-bottom:12px;
  
    border-right: 1.5px solid;
 
}
.twitter a{
    margin: 8px 15px 10px 12px;
color: #ffffff;

}
.twitter:hover{
    background-color:#5449b8;
  
}
.im-tuit{
    width: 42px;
    border-radius:20px ;
    height: 42px;
    margin-left: 12px;

}
/*-----------------------------------Fin del footer------------------------------------*/


/*.....................Josue Romero.....................*/

/*....................Slider automatico.......................*/
.container_slider{
    position:relative;
  top: 40px;
    width: 650px;
    height:250px;
    margin: auto;
    background:red;
    overflow: hidden;
}

.container_slider .slider{
position:absolute;
width: 400%;
height: 100%;
display: flex;
animation: moverse 15s infinite alternate ;
animation-timing-function: ease-in;

}

.container_slider .slider li{
    position:relative;
    width: 100%;
    list-style: none;

    
    }

    .container_slider .slider li img{
        position:absolute;
        width: 650px;
        height: 100%;
    
        
        }

        @keyframes moverse{
            0%,20%{
                margin-left: 0;
            }

            25%,45%{
                margin-left: -100%;
            }

            50%,70%{
                margin-left: -200%;
            }

            75%,100%{
                margin-left: -200%;
            }
            
        }


